/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/footer/footer.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 93.92857142857142,147.85714285714286 187.85714285714283,145.71428571428572 320,144 C 452.14285714285717,142.28571428571428 622.5,141 748,148 C 873.5,155 954.1428571428571,170.28571428571428 1062,172 C 1169.857142857143,173.71428571428572 1304.9285714285716,161.85714285714286 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 140.03571428571428,164 280.07142857142856,178 411,193 C 541.9285714285714,208 663.7499999999999,224 782,200 C 900.2500000000001,176 1014.9285714285716,112.00000000000001 1124,97 C 1233.0714285714284,81.99999999999999 1336.5357142857142,116 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 102.85714285714286,167.71428571428572 205.71428571428572,185.42857142857142 322,195 C 438.2857142857143,204.57142857142858 567.9999999999999,206.00000000000003 714,205 C 860.0000000000001,203.99999999999997 1022.2857142857144,200.57142857142856 1146,191 C 1269.7142857142856,181.42857142857144 1354.8571428571427,165.71428571428572 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 80.78571428571428,124.14285714285714 161.57142857142856,98.28571428571429 302,107 C 442.42857142857144,115.71428571428571 642.5,159.00000000000003 773,183 C 903.5,206.99999999999997 964.4285714285713,211.7142857142857 1064,203 C 1163.5714285714287,194.2857142857143 1301.7857142857142,172.14285714285717 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 93.92857142857142,147.85714285714286 187.85714285714283,145.71428571428572 320,144 C 452.14285714285717,142.28571428571428 622.5,141 748,148 C 873.5,155 954.1428571428571,170.28571428571428 1062,172 C 1169.857142857143,173.71428571428572 1304.9285714285716,161.85714285714286 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 85.96428571428572,291.57142857142856 171.92857142857144,283.14285714285717 295,298 C 418.07142857142856,312.85714285714283 578.25,351 718,341 C 857.75,331 977.0714285714284,272.8571428571429 1094,258 C 1210.9285714285716,243.14285714285714 1325.4642857142858,271.57142857142856 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 109.53571428571428,281.2142857142857 219.07142857142856,262.42857142857144 355,276 C 490.92857142857144,289.57142857142856 653.25,335.5 766,338 C 878.75,340.5 941.9285714285713,299.57142857142856 1046,286 C 1150.0714285714287,272.42857142857144 1295.0357142857142,286.2142857142857 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 121.28571428571428,315.1428571428571 242.57142857142856,330.2857142857143 376,324 C 509.42857142857144,317.7142857142857 655,290 786,284 C 917,278 1033.4285714285716,293.7142857142857 1140,300 C 1246.5714285714284,306.2857142857143 1343.2857142857142,303.1428571428571 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 90.85714285714286,330.32142857142856 181.71428571428572,360.64285714285717 295,343 C 408.2857142857143,325.35714285714283 544.0000000000001,259.75 666,263 C 787.9999999999999,266.25 896.2857142857142,338.35714285714283 1023,356 C 1149.7142857142858,373.64285714285717 1294.857142857143,336.82142857142856 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 85.96428571428572,291.57142857142856 171.92857142857144,283.14285714285717 295,298 C 418.07142857142856,312.85714285714283 578.25,351 718,341 C 857.75,331 977.0714285714284,272.8571428571429 1094,258 C 1210.9285714285716,243.14285714285714 1325.4642857142858,271.57142857142856 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 92.85714285714286,439.3571428571429 185.71428571428572,428.7142857142857 326,445 C 466.2857142857143,461.2857142857143 654.0000000000001,504.49999999999994 770,497 C 885.9999999999999,489.50000000000006 930.2857142857142,431.2857142857143 1030,415 C 1129.7142857142858,398.7142857142857 1284.857142857143,424.3571428571429 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 128.35714285714283,421.8928571428571 256.71428571428567,393.7857142857143 386,397 C 515.2857142857143,400.2142857142857 645.5,434.75 770,438 C 894.5,441.25 1013.2857142857144,413.2142857142857 1124,410 C 1234.7142857142856,406.7857142857143 1337.3571428571427,428.3928571428571 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 143.25,434.07142857142856 286.5,418.14285714285717 407,412 C 527.5,405.85714285714283 625.2499999999999,409.5 733,415 C 840.7500000000001,420.5 958.5,427.8571428571429 1078,434 C 1197.5,440.1428571428571 1318.75,445.07142857142856 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 129.92857142857142,417.3571428571429 259.85714285714283,384.7142857142857 373,398 C 486.14285714285717,411.2857142857143 582.5000000000001,470.5 688,496 C 793.4999999999999,521.5 908.1428571428571,513.2857142857142 1035,500 C 1161.857142857143,486.7142857142857 1300.9285714285716,468.3571428571429 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 92.85714285714286,439.3571428571429 185.71428571428572,428.7142857142857 326,445 C 466.2857142857143,461.2857142857143 654.0000000000001,504.49999999999994 770,497 C 885.9999999999999,489.50000000000006 930.2857142857142,431.2857142857143 1030,415 C 1129.7142857142858,398.7142857142857 1284.857142857143,424.3571428571429 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
}

.svg {
  display: inline-block;
  margin: 0;
  z-index: 0;
  height: 10rem;
}

.footer-wrapper {
  margin-top: -30px;
  padding: 2rem;
  display: flex;
  z-index: 100000000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
  background: linear-gradient(to right, #9900ef, #f78da7);
}

